package ${package.Service};

## ------参数设置----start
###foreach($field in ${table.fields})
##    #if(${field.keyFlag})
##        #set($primaryKeyPropertyType=${field.propertyType})
##        #break
##    #end
###end
#set($actualType = ${actualType4ServiceMethodParam})
#set($entityVO = "${entity}VO")
#set($sourceEntityInsertDTO = "${entity}InsertDTO")
#set($sourceEntityUpdateDTO = "${entity}UpdateDTO")
#if(${selectDTO.classFullName})
    #set($sourceEntitySelectDTO = ${selectDTO.clazz("${entity}")})
    #set($importStr4SelectDTO="import ${selectDTO.classFullName};")
#else
    #set($sourceEntitySelectDTO = "${entity}SelectDTO")
    #set($importStr4SelectDTO="import ${basePackage}.${package4DTO}.${entity}SelectDTO;")
#end
#if(${actualType})
    #set($entityInsertDTO = "${sourceEntityInsertDTO}")
    #set($entityUpdateDTO = "${sourceEntityUpdateDTO}")
    #set($entitySelectDTO = "${sourceEntitySelectDTO}")
#else
    #set($entityInsertDTO = "Object")
    #set($entityUpdateDTO = "Object")
    #set($entitySelectDTO = "Object")
#end
## ------参数设置----end
#if(${generateSelect}||${generateExport})
import com.baomidou.mybatisplus.core.metadata.IPage;
#end
import ${superServiceClassPackage};
import ${package.Entity}.${entity};
#if(${generateSelect}||${generateExport})
import ${basePackage}.${package4VO}.${entityVO};
#end
#if(${actualType})
    #if(!${useMapSelectDTO} && (${generateSelect}||${generateExport}))
${importStr4SelectDTO}
    #end
    #if(${generateInsert}||${generateImport})
import ${basePackage}.${package4DTO}.${entityInsertDTO};
    #end
    #if(${generateUpdate})
import ${basePackage}.${package4DTO}.${entityUpdateDTO};
    #end
#end
#if(${generateImport})
import java.io.InputStream;
#end
#if(${generateImport}||${generateExport})
import java.io.OutputStream;
#end
#if(${generateSelect}||${generateExport})
import java.io.Serializable;
import java.util.List;
    #if(${useMapSelectDTO} && ${actualType} && (${generateSelect}||${generateExport}))
${importStr4SelectDTO}
    #end
#end

/**
 * $!{table.comment}服务类
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
##    #if(${generateSelect})
##
##    ${entityVO} voById(Serializable id);
##
##    List<${entityVO}> voList(${entitySelectDTO} s);
##
##    IPage<${entityVO}> voPage(${entitySelectDTO} s, Long current, Long size);
##    #end
##    #if(${generateExport})
##
##    void excelExport(${entitySelectDTO} s, OutputStream os, Class<?> clazz, Long current, Long size, String... includeFields);
##    #end
##    #if(${generateImport})
##
##    void excelTemplate(OutputStream os, Class<?> clazz);
##
##    int excelImport(InputStream is, Class<?> clazz);
##    #end
##    #if(${generateInsert})
##
##    Object insertByDTO(${entityInsertDTO} s);
##    #end
##    #if(${generateUpdate})
##
##    boolean updateByDTO(${entityUpdateDTO} s);
##    #end


}
#end
