package ${package.ServiceImpl};

## ------参数设置----start
#set($entityInsertDTO = "${entity}InsertDTO")
#set($entityUpdateDTO = "${entity}UpdateDTO")
#set($entityVO = "${entity}VO")
###if(${selectDTO.classFullName})
##import ${selectDTO.classFullName};
##    #set($entitySelectDTO = ${selectDTO.clazz("${entity}")})
###else
##import ${basePackage}.${package4DTO}.${entity}SelectDTO;
##    #set($entitySelectDTO = "${entity}SelectDTO")
###end
## ------参数设置----end
#if(${overrideInitSuffixBuilder})
import io.github.bootystar.mybatisplus.enhancer.builder.ExtraFieldSuffixBuilder;
#end
import ${basePackage}.${package4VO}.${entityVO};
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
#if(${generateService})
import ${package.Service}.${table.serviceName};
#end
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
import ${dynamicServiceClassInfo.classFullName};

/**
 * $!{table.comment}服务实现类
 *
 * @author ${author}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>()#if(${generateService}), ${table.serviceName}#end {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}>#if(${generateService}) implements ${table.serviceName}#else implements ${dynamicServiceClassInfo.classSimpleName}#end {
#if(${overrideInitSuffixBuilder})

    @Override
    public ExtraFieldSuffixBuilder getSuffixBuilder() {
        return new ExtraFieldSuffixBuilder()
                #foreach($entry in ${extraFieldSuffixMap.entrySet()})
                    #set($key = $entry.key)
                    #set($value = $entry.value)
            #if(${value}=="!="||${value}=="<>")
                .ne("${key}")
            #elseif(${value}==">")
                .gt("${key}")
            #elseif(${value}==">=")
                .ge("${key}")
            #elseif(${value}=="<")
                .lt("${key}")
            #elseif(${value}=="<=")
                .le("${key}")
            #elseif(${value}=="LIKE")
                .like("${key}")
            #elseif(${value}=="NOT LIKE")
                .notLike("${key}")
            #elseif(${value}=="IS NULL")
                .isNull("${key}")
            #elseif(${value}=="IS NOT NULL")
                .isNotNull("${key}")
            #elseif(${value}=="IN")
                .in("${key}")
            #elseif(${value}=="NOT IN")
                .notIn("${key}")
            #end
                #end
            ;
    }
#end
#if(${overrideMethods})
    #if(${generateInsert})

    @Override
    public Object insertByDTO(Object s) {
//        ${entityInsertDTO} dto = (${entityInsertDTO}) s;
        return super.insertByDTO(s);
    }
    #end
    #if(${generateUpdate})

    @Override
    public boolean updateByDTO(Object s) {
//        ${entityUpdateDTO} dto = (${entityUpdateDTO}) s;
        return super.updateByDTO(s);
    }
    #end
    #if(${generateDelete})

    @Override
    public boolean removeById(Serializable id) {
        return super.removeById(id);
    }
    #end
##    @Override
##    public List<${entityVO}> doSelectVO(Object s, IPage<${entityVO}> page) {
####        #if(${entitySelectDTO})
####//        ${entitySelectDTO} dto = (${entitySelectDTO}) s;
####        #end
##        return super.doSelectVO(s, page);
##        #end
##    }
    #if(${generateSelect})

    @Override
    public ${entityVO} voById(Serializable id) {
        return super.voById(id);
    }

    @Override
    public List<${entityVO}> voList(Object s) {
        return super.voList(s);
    }

    @Override
    public IPage<${entityVO}> voPage(Object s, Long current, Long size) {
        return super.voPage(s, current, size);
    }
    #end
    #if(${generateImport})

    @Override
    public int excelImport(InputStream is, Class<?> clazz) {
//        List<${entityInsertDTO}> dataList = ExcelHelper.read(is).head(clazz).sheet().doReadSync();
        return super.excelImport(is, clazz);
    }
    #end
    #if(${generateExport})

    @Override
    public void excelExport(Object s, OutputStream os, Class<?> clazz, Long current, Long size, String... includeFields) {
        super.excelExport(s, os, clazz, current, size, includeFields);
    }
    #end

#end

}
#end
