package ${package.controller};
#if($controllerImportPackages4Framework.size()>0)

#end
#foreach($pkg in ${controllerImportPackages4Framework})
import ${pkg};
#end
#if($controllerImportPackages4Java.size()>0)

#end
#foreach($pkg in ${controllerImportPackages4Java})
import ${pkg};
#end

/**
 * $!{table.comment} 前端控制器
#if(${commentLink})
 * @see ${class.entity}
 * @see ${class.mapper}
 * @see ${class.serviceImpl}
#end
 * @author ${author}
 * @since ${date}
 */
#if(${crossOrigin})
@CrossOrigin
#end
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("$!{requestBaseUrl}")
#if(${lombok})
@RequiredArgsConstructor
#end
#if(${springdoc})
@Tag(name= "$!{table.comment}", description = "$!{table.comment}")
#elseif(${swagger})
@Api(tags = "$!{table.comment}")
#end
#if(${superControllerClass})
public class ${controller} extends ${superControllerClass} {
#else
public class ${controller} {
#end

    private final ${baseService} baseService;
#if(!${lombok})

    public ${controller}(${baseService} baseService) {
        this.baseService = baseService;
    }
#end
#if(${generateInsert})

    #if(${springdoc})
    @Operation(summary = "新增")
    #elseif(${swagger})
    @ApiOperation(value = "新增")
    #else
    /**
     * 新增
     *
     * @param param 新增入参对象
     * @return 新增后的数据id
     */
    #end
    #if(${restful})
    @PostMapping("")
    #else
    @PostMapping("/insert")
    #end
    #if(!${restControllerStyle})
    @ResponseBody
    #end
    public ${returnMethod.returnGenericTypeStr("Object")} insert($!{requiredBodyStr}$!{validatedStr}${insertDTO} param) {
        return ${returnMethod.invokeMethodStr("baseService.insertByDTO(param)")};
    }
#end
#if(${generateUpdate})

    #if(${springdoc})
    @Operation(summary = "修改")
    #elseif(${swagger})
    @ApiOperation(value = "修改")
    #else
    /**
     * 修改
     *
     * @param param 修改入参对象
     * @return 是否成功
     */
    #end
    #if(${restful})
    @PutMapping("")
    #else
    @PostMapping("/update")
    #end
    #if(!${restControllerStyle})
    @ResponseBody
    #end
    public ${returnMethod.returnGenericTypeStr("Boolean")} update($!{requiredBodyStr}$!{validatedStr}${updateDTO} param) {
        return ${returnMethod.invokeMethodStr("baseService.updateByDTO(param)")};
    }
#end
#if(${generateDelete})

    #if(${springdoc})
    @Operation(summary = "删除")
    #elseif(${swagger})
    @ApiOperation(value = "删除")
    #else
    /**
     * 删除
     *
     * @param id 主键id
     * @return 是否成功
     */
    #end
    #if(${restful})
    @DeleteMapping("$!{idPathParams}")
    #else
    @PostMapping("/delete$!{idPathParams}")
    #end
    #if(!${restControllerStyle})
    @ResponseBody
    #end
    public ${returnMethod.returnGenericTypeStr("Boolean")} delete($!{idMethodParams}${primaryKeyPropertyType} id) {
        return ${returnMethod.invokeMethodStr("baseService.removeById(id)")};
    }
#end
#if(${generateQuery})
    
    #if(${springdoc})
    @Operation(summary = "根据id查询详情")
    #elseif(${swagger})
    @ApiOperation(value = "根据id查询详情")
    #else
    /**
     * 根据id查询详情
     *
     * @param id 主键id
     * @return 查询结果
     */
    #end
    #if(${restful})
    @GetMapping("$!{idPathParams}")
    #else
    @GetMapping("/select$!{idPathParams}")
    #end
    #if(!${restControllerStyle})
    @ResponseBody
    #end
    public ${returnMethod.returnGenericTypeStr("${queryVO}")} selectId($!{idMethodParams}${primaryKeyPropertyType} id) {
        return ${returnMethod.invokeMethodStr("baseService.voById(id)")};
    }

    #if(${springdoc})
    @Operation(summary = "列表查询")
    #elseif(${swagger})
    @ApiOperation(value = "列表查询")
    #else
    /**
     * 列表查询
     *
     * @param param 查询条件
     * @return 查询结果
     */
    #end
    ${batchQueryMethod}("/list")
    #if(!${restControllerStyle})
    @ResponseBody
    #end
    public ${returnMethod.returnGenericTypeStr("List<${queryVO}>")} selectList($!{optionalBodyStr}${queryDTO} param) {
        return ${returnMethod.invokeMethodStr("baseService.voList(param)")};
    }
#if(${enhancer})

    #if(${springdoc})
    @Operation(summary = "列表查询-动态条件")
    #elseif(${swagger})
    @ApiOperation(value = "列表查询-动态条件")
    #else
    /**
     * 列表查询-动态条件
     *
     * @param sqlHelper 条件构造器
     * @return 查询结果
     */
    #end
    @PostMapping("/dynamic/list")
    #if(!${restControllerStyle})
    @ResponseBody
    #end
    public ${returnMethod.returnGenericTypeStr("List<${queryVO}>")} dynamicList($!{requiredBodyStr}SqlHelper<${entity}> sqlHelper) {
        return ${returnMethod.invokeMethodStr("baseService.voList(sqlHelper)")};
    }
#end
    
    #if(${springdoc})
    @Operation(summary = "分页查询")
    #elseif(${swagger})
    @ApiOperation(value = "分页查询")
    #else
    /**
     * 分页查询
     *
     * @param param 查询条件
     * @param current 页码
     * @param size 每页大小(-1为全部)
     * @return 查询结果
     */
    #end
    ${batchQueryMethod}("/page$!{pagePathParams}")
    #if(!${restControllerStyle})
    @ResponseBody
    #end
##    public ${returnMethod.returnGenericTypeStr(${pageReturnType})} selectPage($!{mapRequestParam}$!{optionalBodyStr}${controllerQueryParam} param, $!{pageMethodParams}) {
    public ${returnMethod.returnGenericTypeStr(${pageReturnType})} selectPage($!{optionalBodyStr}${queryDTO} param, $!{pageMethodParams}) {
        return ${returnMethod.invokeMethodStr(${pageMethod.invokeMethodStr("baseService.voPage(param, current, size)")})};
    }
#if(${enhancer})

    #if(${springdoc})
    @Operation(summary = "分页查询-动态条件")
    #elseif(${swagger})
    @ApiOperation(value = "分页查询-动态条件")
    #else
    /**
     * 分页查询-动态条件
     *
     * @param sqlHelper 条件构造器
     * @param current 页码
     * @param size 每页大小(-1为全部)
     * @return 查询结果
     */
    #end
    @PostMapping("/dynamic/page/$!{pagePathParams}")
    #if(!${restControllerStyle})
    @ResponseBody
    #end
    public ${returnMethod.returnGenericTypeStr(${pageReturnType})} dynamicPage($!{requiredBodyStr}SqlHelper<${entity}> sqlHelper, $!{pageMethodParams}) {
        return ${returnMethod.invokeMethodStr(${pageMethod.invokeMethodStr("baseService.voPage(sqlHelper, current, size)")})};
    }
#end
#end
#if(${generateImport})

    #if(${springdoc})
    @Operation(summary = "下载excel导入模板")
    #elseif(${swagger})
    @ApiOperation(value = "下载excel导入模板")
    #else
    /**
     * 下载excel导入模板
     */
    #end
    @GetMapping("/excel/template")
    public void excelTemplate(HttpServletResponse response) throws IOException {
        response.setContentType("application/vnd.ms-excel");
        response.setHeader("Access-Control-Expose-Headers", "Content-Disposition");
        response.setHeader("Content-Disposition", "attachment;filename=" + System.currentTimeMillis() + ".xlsx");
        baseService.excelTemplate(response.getOutputStream(), ${insertDTO}.class);
    }

    #if(${springdoc})
    @Operation(summary = "excel文件导入")
    #elseif(${swagger})
    @ApiOperation(value = "excel文件导入")
    #else
    /**
     * excel文件导入
     *
     * @param excel excel文件
     * @return 导入条数
     */
    #end
    @PostMapping("/excel/import")
    #if(!${restControllerStyle})
    @ResponseBody
    #end
    public ${returnMethod.returnGenericTypeStr("Integer")} excelImport(@RequestParam("excel") MultipartFile excel) throws IOException {
        if (excel == null || excel.isEmpty()) return ${returnMethod.invokeMethodStr(0)};
        return ${returnMethod.invokeMethodStr("baseService.excelImport(excel.getInputStream(), ${insertDTO}.class)")};
    }
#end
#if(${generateExport})

    #if(${springdoc})
    @Operation(summary = "excel文件导出")
    #elseif(${swagger})
    @ApiOperation(value = "excel文件导出")
    #else
    /**
     * excel文件导出
     * 
     * @param param 查询条件
     * @param current 页码
     * @param size 每页大小(-1为全部)
     */
    #end
    ${batchQueryMethod}("/excel/export$!{pagePathParams}")
    public void excelExport($!{optionalBodyStr}${queryDTO} param, ${pageMethodParams}, HttpServletResponse response) throws IOException {
        response.setContentType("application/vnd.ms-excel");
        response.setHeader("Access-Control-Expose-Headers", "Content-Disposition");
        response.setHeader("Content-Disposition", "attachment;filename=" + System.currentTimeMillis() + ".xlsx");
        baseService.excelExport(param, response.getOutputStream(), ${queryVO}.class, current, size);
    }
#if(${enhancer})
    
    #if(${springdoc})
    @Operation(summary = "excel文件导出-动态条件")
    #elseif(${swagger})
    @ApiOperation(value = "excel文件导出-动态条件")
    #else
    /**
     * excel文件导出-动态条件
     * 
     * @param sqlHelper 条件构造器
     * @param current 页码
     * @param size 每页大小(-1为全部)
     */
    #end
    @PostMapping("/dynamic/excel/export$!{pagePathParams}")
    public void excelExport($!{requiredBodyStr}SqlHelper<${entity}> sqlHelper, ${pageMethodParams}, HttpServletResponse response) throws IOException {
        response.setContentType("application/vnd.ms-excel");
        response.setHeader("Access-Control-Expose-Headers", "Content-Disposition");
        response.setHeader("Content-Disposition", "attachment;filename=" + System.currentTimeMillis() + ".xlsx");
        baseService.excelExport(sqlHelper, response.getOutputStream(), ${queryVO}.class, current, size);
    }
#end
#end
}

