package ${package.Mapper};

#foreach($pkg in ${importMapperFrameworkPackages})
import ${pkg};
#end
#if($importMapperJavaPackages.size()>0)

#foreach($pkg in ${importMapperJavaPackages})
import ${pkg};import com.fasterxml.jackson.databind.ObjectMapper;
#end
#end

/**
 * $!{table.comment} Mapper 接口
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${enhancer})
public interface ${table.mapperName} extends ${superMapperClass}<${entity}>, EnhancedMapper<${entityVO}> {
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {
#end

#foreach($m in ${mapperMethodList})
    /**
     * generate by ${m.indexName}
     *
     #foreach($f in ${m.tableFieldList})
     * @param ${f.propertyName} ${f.comment}
     #end
     */
    ${m.method}
#end
#if(${methodOverride})

    List<V> voQueryByXml(Object param, IPage<V> page);

    #if(${showOverrideAnnotation})@Override#end
    default List<V> voQuery(Object param, IPage<V> page) {
        #if(${enhancer})
        return super.voQuery(param, page);
        #else
        return voQueryByXml(new ObjectMapper().convertValue(param, Map.class), page);      
        #end
    }
#end
}
