package ${package.queryVO};
#if($queryVOImportPackages4Framework.size()>0)

#end
#foreach($pkg in ${queryVOImportPackages4Framework})
import ${pkg};
#end
#if($queryVOImportPackages4Java.size()>0)

#end
#foreach($pkg in ${queryVOImportPackages4Java})
import ${pkg};
#end

/**
 * $!{table.comment}-VO
 *
 * @author ${author}
#if(${commentLink})
 * @see ${class.entity}
 * @see ${class.mapper}
 * @see ${class.serviceImpl}
#end
 * @since ${date}
 */
#if(${lombok})
@Data
    #if(${chainModel})
@Accessors(chain = true)
    #end
    #if(${queryVOExtendsEntity})
@EqualsAndHashCode(callSuper = true)
    #end
#end
#if(${springdoc})
@Schema(description = "$!{table.comment}-VO")
#elseif(${swagger})
@ApiModel(description = "$!{table.comment}-VO")
#end
#if(${generateExport})
@ExcelIgnoreUnannotated
#end
#if(${queryVOExtendsEntity})
public class ${queryVO} extends ${entity} {
#else
public class ${queryVO} {
#end
## ----------  BEGIN 字段循环遍历  ----------
#if(!${queryVOExtendsEntity})
#foreach($field in ${table.fields})
#if(${field.logicDeleteField})
#else

    #if("$!field.comment" != "")
        #if(${springdoc})
    @Schema(description = "${field.comment}")
        #elseif(${swagger})
    @ApiModelProperty("${field.comment}")
        #else
    /**
     * ${field.comment}
     */
        #end
    #end
    #if(${generateExport})## 导出
    @ExcelProperty(value = "${field.comment}")
    #end
    private ${field.propertyType} ${field.propertyName};
#end
#end
#end
## ----------  END 字段循环遍历  ----------
#if(!${lombok} && !${queryVOExtendsEntity})
#foreach($field in ${table.fields})
#if(${field.logicDeleteField})
#else
    #if(${field.propertyType.equals("boolean")})
        #set($getprefix="is")
    #else
        #set($getprefix="get")
    #end

    public ${field.propertyType} ${getprefix}${field.capitalName}() {
        return ${field.propertyName};
    }

    #if(${chainModel})
    public ${queryVO} set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #else
    public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #end
        this.${field.propertyName} = ${field.propertyName};
     #if(${chainModel})
        return this;
    #end
    }
#end
#end
#end

}
