package ${package.service};
#if($serviceImportPackages4Framework.size()>0)

#end
#foreach($pkg in ${serviceImportPackages4Framework})
import ${pkg};
#end
#if($serviceImportPackages4Java.size()>0)

#end
#foreach($pkg in ${serviceImportPackages4Java})
import ${pkg};
#end

/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */
#if(${enhancer})
public interface ${service} extends ${superServiceClass}<${entity}>, EnhancedService<${queryVO}> {
#else
public interface ${service} extends ${superServiceClass}<${entity}> {
#end
#if(!${enhancer})
    #if(${generateInsert})

    Object insertByDTO(Object param);
    #end
    #if(${generateUpdate})

    boolean updateByDTO(Object param);
    #end
    #if(${generateQuery})

    ${queryVO} voById(Serializable id);

    List<${queryVO}> voList(Object param);

    IPage<${queryVO}> voPage(Object param, Long current, Long size);
    #end
    #if(${generateExport})

    void excelExport(Object param, OutputStream os, Class<?> clazz, Long current, Long size, String... includeFields);
    #end
    #if(${generateImport})

    void excelTemplate(OutputStream os, Class<?> clazz);

    int excelImport(InputStream is, Class<?> clazz);
    #end
#end
}

