package ${package.serviceImpl};
#if($serviceImplImportPackages4Framework.size()>0)

#end
#foreach($pkg in ${serviceImplImportPackages4Framework})
import ${pkg};
#end
#if($serviceImplImportPackages4Java.size()>0)

#end
#foreach($pkg in ${serviceImplImportPackages4Java})
import ${pkg};
#end

/**
 * $!{table.comment} 服务实现类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${enhancer} && ${generate.service})
public class ${serviceImpl} extends ${superServiceImplClass}<${mapper}, ${entity}> implements ${service}, EnhancedService<${queryVO}> {
#elseif(${enhancer})
public class ${serviceImpl} extends ${superServiceImplClass}<${mapper}, ${entity}> implements EnhancedService<${queryVO}> {
#elseif(${generate.service})
public class ${serviceImpl} extends ${superServiceImplClass}<${mapper}, ${entity}> implements ${service} {
#else
public class ${serviceImpl} extends ${superServiceImplClass}<${mapper}, ${entity}> {
#end
#if(${generateQuery})
    
    #if(${generate.service} || ${enhancer})
    @Override
    #end
    public ${queryVO} voById(Serializable id) {
        #if(${enhancer})
        return ${enhanceMethod}.voById(id);
        #else
        HashMap<String, Object> map = new HashMap<>();
        map.put(TableInfoHelper.getTableInfo(getEntityClass()).getKeyProperty(), id);
        IPage<${queryVO}> page = new Page<>(1L, 1L);
        List<${queryVO}> vs = getBaseMapper().voQuery(map, page);
        if (vs == null || vs.isEmpty()) return null;
        if (page.getTotal() > 1) throw new TooManyResultsException("Expected one result (or null) to be returned by id, but found:" + page.getTotal());
        return vs.get(0);
        #end
    }

    #if(${generate.service} || ${enhancer})
    @Override
    #end
    public List<${queryVO}> voList(Object param) {
        #if(${enhancer})
        return ${enhanceMethod}.voList(param);
        #else
        return getBaseMapper().voQuery(param, null);
        #end
    }

    #if(${generate.service} || ${enhancer})
    @Override
    #end
    public IPage<${queryVO}> voPage(Object param, Long current, Long size) {
        #if(${enhancer})
        return ${enhanceMethod}.voPage(param, current, size);
        #else
        if (current == null || current < 1) current = 1L;
        if (size == null) size = 10L;
        Page<${queryVO}> page = new Page<>(current, size);
        List<${queryVO}> voList = getBaseMapper().voQuery(param, page);
        page.setRecords(voList);
        return page;
        #end
    }
#end
#if(${generateExport})

    #if(${generate.service} || ${enhancer})
    @Override
    #end
    public void excelExport(Object param, OutputStream os, Class<?> clazz, Long current, Long size, String... includeFields) {
        #if(${enhancer})
        ${enhanceMethod}.excelExport(param, os, clazz, current, size, includeFields);
        #else
        List<${queryVO}> voList = this.voPage(param, current, size).getRecords();
        ${excelApiClass}.write(os, clazz).includeColumnFieldNames(Arrays.asList(includeFields)).registerWriteHandler(new LongestMatchColumnWidthStyleStrategy()).sheet().doWrite(voList);
        #end
    }
#end
#if(${generateImport})

    #if(${generate.service} || ${enhancer})
    @Override
    #end
    public void excelTemplate(OutputStream os, Class<?> clazz) {
        #if(${enhancer})
        ${enhanceMethod}.excelTemplate(os, clazz);
        #else
        ${excelApiClass}.write(os, clazz).sheet().doWrite(Collections.emptyList());
        #end
    }

    #if(${generate.service} || ${enhancer})
    @Override
    #end
    public int excelImport(InputStream is, Class<?> clazz) {
        #if(${enhancer})
//        List<${insertDTO}> dataList = ${excelApiClass}.read(is).head(clazz).sheet().doReadSync();
        return ${enhanceMethod}.excelImport(is, clazz);
        #else
        List<?> dataList = ${excelApiClass}.read(is).head(clazz).sheet().doReadSync();
        List<${entity}> entityList = dataList.stream().map(e -> {
//            ${insertDTO} dto = (${insertDTO}) e;
            ${entity} entity = new ${entity}();
            BeanUtils.copyProperties(e, entity);
            return entity;
        }).collect(Collectors.toList());
        super.saveBatch(entityList);
        return entityList.size();
        #end
    }
#end
#if(${generateInsert})

    #if(${generate.service} || ${enhancer})
    @Override
    #end
    public Object insertByDTO(Object param) {
//        ${insertDTO} dto = (${insertDTO}) param;
        #if(${enhancer})
        return ${enhanceMethod}.insertByDTO(param);    
        #else
        ${entity} entity = new ${entity}();
        BeanUtils.copyProperties(param, entity);
        super.save(entity);
        TableInfo tableInfo = TableInfoHelper.getTableInfo(getEntityClass());
        return tableInfo.getPropertyValue(entity, tableInfo.getKeyProperty());
        #end
    }
#end
#if(${generateUpdate})

    #if(${generate.service} || ${enhancer})
    @Override
    #end
    public boolean updateByDTO(Object param) {
//        ${updateDTO} dto = (${updateDTO}) param;
        #if(${enhancer})
        return ${enhanceMethod}.updateByDTO(param);
        #else
        ${entity} entity = new ${entity}();
        BeanUtils.copyProperties(param, entity);
        return super.updateById(entity);
        #end
    }
#end
#if(${generateDelete})

    @Override
    public boolean removeById(Serializable id) {
        return super.removeById(id);
    }
#end
}
