package ${package.Mapper};
## ------参数设置----start
#set($entityVO = "${entity}VO")
#if(${selectDTO.classFullName})
    #set($entitySelectDTO = ${selectDTO.clazz("${entity}")})
    #if(${generateSelect}||${generateExport})
import ${selectDTO.classFullName};
    #end
#else
    #set($entitySelectDTO = "${entity}SelectDTO")
    #if(${generateSelect}||${generateExport})
import ${basePackage}.${package4DTO}.${entity}SelectDTO;
    #end
#end
## ------参数设置----end
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${superMapperClassPackage};
##import org.apache.ibatis.annotations.Param;
#if(${mapperAnnotationClass})
import ${mapperAnnotationClass.name};
#end
import ${basePackage}.${package4VO}.${entity}VO;
import ${package.Entity}.${entity};

import java.util.List;
import java.util.Map;

/**
 * $!{table.comment}Mapper
 *
 * @author ${author}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

    List<${entityVO}> listByDTO(${entitySelectDTO} s, IPage<${entity}VO> page);
##    List<${entityVO}> listByDTO(Object s, IPage<${entity}VO> page);

}
#end
