package ${package.ServiceImpl};

## ------参数设置----start
###foreach($field in ${table.fields})
##    #if(${field.keyFlag})
##        #set($primaryKeyPropertyType=${field.propertyType})
##        #break
##    #end
###end
#set($entityInsertDTO = "${entity}InsertDTO")
#set($entityUpdateDTO = "${entity}UpdateDTO")
#set($entityVO = "${entity}VO")
#if(${selectDTO.classFullName})
    #set($entitySelectDTO = ${selectDTO.clazz("${entity}")})
    #if(${generateSelect}||${generateExport})
import ${selectDTO.classFullName};
    #end
#else
    #set($entitySelectDTO = "${entity}SelectDTO")
    #if(${generateSelect}||${generateExport})
import ${basePackage}.${package4DTO}.${entity}SelectDTO;
    #end
#end
## ------参数设置----end
#if(${generateImport}||${generateExport})
import cn.idev.excel.EasyExcel;
import cn.idev.excel.write.style.column.LongestMatchColumnWidthStyleStrategy;
#end
#if(${generateSelect}||${generateExport})
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
#end
#if(${generateInsert}||${generateSelect})
import com.baomidou.mybatisplus.core.metadata.TableInfo;
import com.baomidou.mybatisplus.core.metadata.TableInfoHelper;
#end
## ------默认导入----------
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
    #if(${generateService})
import ${package.Service}.${table.serviceName};
    #end
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
## ------默认导入----------
#if(${generateSelect}||${generateExport})
import ${basePackage}.${package4VO}.${entityVO};
#end
#if(${generateInsert}||${generateImport})
import ${basePackage}.${package4DTO}.${entityInsertDTO};
#end
#if(${generateUpdate})
import ${basePackage}.${package4DTO}.${entityUpdateDTO};
#end
import org.springframework.stereotype.Service;
#if(${generateInsert}||${generateUpdate}||${generateImport}||${generateSelect})
import org.springframework.beans.BeanUtils;
#end

#if(${generateSelect}||${generateDelete})
import java.io.Serializable;
#end
#if(${generateImport})
import java.io.InputStream;
#end
#if(${generateImport}||${generateExport})
import java.io.OutputStream;
#end
#if(${generateImport})
import java.util.stream.Collectors;
#end
import java.util.*;
## map反射用
##import java.lang.reflect.Field;
##import java.lang.reflect.Modifier;

/**
 * $!{table.comment}服务实现类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>()#if(${generateService}), ${table.serviceName}#end {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}>#if(${generateService}) implements ${table.serviceName}#end {
    #if(${generateInsert})

    #if(${generateService})
    @Override
    #end
    public Object insertByDTO(${entityInsertDTO} s) {
##    public Object insertByDTO(Object s) {
##//        ${entityInsertDTO} dto = (${entityInsertDTO}) s;
        ${entity} entity = new ${entity}();
        BeanUtils.copyProperties(s, entity);
        super.save(entity);
        TableInfo tableInfo = TableInfoHelper.getTableInfo(getEntityClass());
        return (R)tableInfo.getPropertyValue(entity, tableInfo.getKeyProperty());
    }
    #end
    #if(${generateUpdate})

    #if(${generateService})
    @Override
    #end
    public boolean updateByDTO(${entityUpdateDTO} s) {
##    public boolean updateByDTO(Object s) {
##//        ${entityUpdateDTO} dto = (${entityUpdateDTO}) s;
        ${entity} entity = new ${entity}();
        BeanUtils.copyProperties(s, entity);
        return super.updateById(entity);
    }
    #end
    #if(${generateDelete})

    @Override
    public boolean removeById(Serializable id) {
        return super.removeById(id);
    }
    #end
    #if(${generateSelect})

    public List<${entityVO}> doSelectVO(${entitySelectDTO} s, IPage<${entityVO}> page) {
        return getBaseMapper().doSelectVO(s, page);
    }

    #if(${generateService})
    @Override
    #end
    public ${entityVO} voById(Serializable id) {
        ${entity} entity = new ${entity}();
        TableInfo tableInfo = TableInfoHelper.getTableInfo(getEntityClass());
        tableInfo.setPropertyValue(entity, tableInfo.getKeyProperty(), id);
##        return voByDTO(entity);
        ${entitySelectDTO} s = new ${entitySelectDTO}();
        BeanUtils.copyProperties(entity, s);
        return voByDTO(s);
    }

    #if(${generateService})
    @Override
    #end
    public ${entityVO} voByDTO(${entitySelectDTO} s) {
##    public ${entityVO} voByDTO(Object s) {
        List<${entityVO}> vs = voList(s);
        if (vs == null || vs.isEmpty()) return null;
        if (vs.size() > 1) throw new RuntimeException("error query => required 1 but found " + vs.size());
        return vs.get(0);
    }

    #if(${generateService})
    @Override
    #end
    public List<${entityVO}> voList(${entitySelectDTO} s) {
##    public List<${entityVO}> voList(Object s) {
        return doSelectVO(s, null);
    }

    #if(${generateService})
    @Override
    #end
    public IPage<${entityVO}> voPage(${entitySelectDTO} s, Long current, Long size) {
##    public IPage<${entityVO}> voPage(Object s, Long current, Long size) {
        if (current == null || current < 1) current = 1L;
        if (size == null) size = 10L;
        Page<${entityVO}> page = new Page<>(current, size);
        List<${entityVO}> voList = doSelectVO(s, page);
        page.setRecords(voList);
        return page;
    }
    #end
    #if(${generateImport})

    #if(${generateService})
    @Override
    #end
    public void excelTemplate(OutputStream os, Class<?> clazz) {
        EasyExcel.write(os, clazz)
            .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
            .sheet()
            .doWrite(Collections.emptyList());
    }

    #if(${generateService})
    @Override
    #end
    public int excelImport(InputStream is, Class<?> clazz) {
//        List<${entityInsertDTO}> dataList = EasyExcel.read(is).head(clazz).sheet().doReadSync();
        List<?> dataList = EasyExcel.read(is).head(clazz).sheet().doReadSync();
        List<${entity}> entityList = dataList.stream().map(e -> {
            ${entity} entity = new ${entity}();
            BeanUtils.copyProperties(e, entity);
            return entity;
        }).collect(Collectors.toList());
        super.saveBatch(entityList);
        return entityList.size();
    }
    #end
    #if(${generateExport})

    #if(${generateService})
    @Override
    #end
    public void excelExport(${entitySelectDTO} s, OutputStream os, Class<?> clazz, Long current, Long size, String... includeFields) {
##    public void excelExport(Object s, OutputStream os, Class<?> clazz, Long current, Long size, String... includeFields) {
        #if(${generateSelect})
        List<${entityVO}> voList = voPage(s, current, size).getRecords();
            #else
        if (current == null || current < 1) current = 1L;
        if (size == null) size = 10L;
        Page<${entityVO}> page = new Page<>(current, size);
        List<${entityVO}> voList = getBaseMapper().doSelectVO(s, page);
        #end
        EasyExcel.write(os, clazz)
            .includeColumnFieldNames(Arrays.asList(includeFields))
            .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
            .sheet()
            .doWrite(voList);
    }
    #end

}
#end
